/*page ecran */
/* Largeur de l'écran */
@media (min-width: 1200px) { 
    body {
         padding-left: 50px;
         padding-right: 50px;
         background-color: green;
         }
}

/* Paramètres pour paysage et bureau */
@media (min-width: 768px) and (max-width: 1199px) { 
    body {
         padding-left: 30px;
         padding-right: 30px;
         background-color: purple;
         }
}

/* Paramètres téléphone et portrait */
@media (max-width: 767px) { 
    body {
         padding-left: 20px;
         padding-right: 20px;
         background-color: blue;
         }
}

/* Paramètres paysage de la page */
@media (max-width: 480px) { 
    body {
         padding-left: 5px;
         padding-right: 5px;
         background-color: red;
         }
}

body{
    background-color:white;
    margin:0px;
    padding:0px;
    text-align:center;
}    
#conteneur /*# identifiant utilisé dans la page web */
{
    margin: auto; /* centre automatiquement cette section dans l'écran*/
    padding: 0;
    width: 960px;
}
header
{
    height: 300px;
    margin-left: auto;
    padding-bottom: 20px;
    margin-right: auto;
    border: 5px #aaa solid;
    vertical-align: middle;
    background-image: url(../images/Algerie-place.jpg);
}
header h1{
        color:grey;
        font-family:Tahouma,"Cooper Black","Comic Sans MS",Verdana;
        font-size:5em;
        margin:45px;
        padding:1%;
        }
        nav {
            background-color: white;
            }
        nav ul{
              list-style-type:none;
              margin:0px;
              padding-top:1%;
              padding-bottom:1%;
              padding-left: 0px;
              }
        nav ul li {
                  display:inline-block;
                  margin-left:10px;
                  margin-right:10px;
                  }
        nav ul li a {
                    color:black;
                    font-family:Calibri, Arial, Verdana,Tohoma;
                    font-size:1.3em;
                    text-decoration:none; /*ôte le souligné */
                    }
        nav ul li a:hover{
                         color:grey; 
                         }
.pointeur /*# identifiant utilisé dans la page web */
        {
        background-color: white;
        list-style-image: url('../images/ico_liensexterne.png');
        text-align: left;
        margin: 40px;
        padding-left: 40px;
        padding-right: 40px;
        }
.pointeur1 /*# identifiant utilisé dans la page web */
        {
        margin:0px;
        padding-top:1%;
        padding-bottom:1%;
        padding-left: 2px;
        }
.pointeur2 /*# identifiant utilisé dans la page web */
        {
        color:grey;
        font-family: Verdana, Calibri, Arial, Tohoma;
        font-size:1.1em;
        text-decoration:none; /*ôte le souligné */
        }
.pointeur2:hover
        {
        color: #760001; 
        }
#listes_amis{
            display: flex;
            justify-content: space-around;
            margin-top: 0;
            }
   main {
        background-color:white;
        padding:0px;
        vertical-align:top;
        }
main h2 {
        color:#9B9691; 
        font-family:Verdana, Arial, Tahoma, Anel, Calibri;
        font-size: 1.2em;
        }
main h3 {
        color:#9B9691; 
        font-family:Arial, Tahoma, Verdana, Anel, Calibri;
        font-size: 1.5em;
        }
main h4 {
        color:#9B9691; 
        font-family:Calibri,Arial, Tahoma, Verdana, Anel; 
        font-size: 1.4em;
        }
 main a {
        font-family:Arial, Tahoma, Verdana, Anel, Calibri;
        font-size: 2em;
        }
main p  {
        color:black;
        font-family:Arial, Verdana,Tohoma,Calibri;
        font-size: 1.1em;
        text-align: justify;
        }
iframe{
        width:560px;
        height:315px;
        margin-bottom:50px;
        }
        /* pour la page FAQ */
.accordion {
            font-family: Arial, Tahoma, Verdana, Anel, Calibri;
            background-color: rgb(255, 255, 255); 
            color: #525143;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.10s;
            font-size: 1.2em
           }
.accordion p {
              list-style-type:decimal;
              font-family: Arial, Tahoma, Verdana, Anel, Calibri;
             }
/* ajouter une couleur de fond pour le bouton si on va cliquez dessus, et quand on survole les lien la couleur changera avec l'attribut (hover) */
.active, .accordion:hover {
           background-color: #ccc;
           }
.panel {
        padding: 0 18px;
        display: none;
        overflow: hidden;
       }
.panel p {
          font-family: Tahoma, Verdana, Calibri, Arial;
          font-size: 1.3em;
         }
.distance {
        padding: 55px;
          }
footer{
       background:  url('../images/ico_top.png') no-repeat top center, url('../images/separateur.png') repeat-x top;
       padding-top: 25px;
       list-style-type: none;
       background-color: #a4a4a4;
       text-align: center;
       padding-bottom: 0.5px;
      }
footer a{
         color: black; 
         font-size: 1.3em;
         font-weight: bold;
         text-decoration: none;
         font-family:Calibri, Arial,"Comic Sans MS",Arial,Verdana;
         margin: 50px 50px 50px 50px;
        }
footer p{
         color:#B52121;
         font-family: Calibri, "Arial Black","Comic Sans MS", tahoma, Verdana, Anel;
         font-weight: bold;
         font-size: 0.9em;
         margin: 20px;
        }